body {
    background-color: #141414;
    font-family: Inter, sans-serif;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
}

html {
    scroll-behavior: smooth;
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.heading {
    max-width: 450px;
    margin-bottom: 60px;
    font-family: 'DM Serif Display', sans-serif;
    font-weight: 400;
}

.text-block {
    color: hsla(0, 0%, 100%, 0.7);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
}

.text-block-coll {
    color: hsla(0, 0%, 100%, 0.7);
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
}

.white-text-block {
    font-family: 'DM Serif Display', sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 1rem;
}

.desc-block {
    font-size: 14px;
    font-weight: 150;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    align-content: center;
    margin-bottom: 30px;
    font-size: 14px;
    color: #c9dec3;
}

.container {
    margin: auto;
    max-width: 1200px;
}

.navbar {
    align-content: center;
    background-color: #000;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20px;
    padding: 20px 0px;
}

.left-menu {
    display: flex;
    flex: 1;
    margin-left: 20px;
}

.left-menu li{
    padding: 8px;
}

.right-menu {
    display: flex;
}

.nav-link {
    padding: 0 10px;
    color: #fff;
    text-decoration: none;
}

.nav-link:hover {
    color: #c9dec3;
}

.nav-menu .logo {
    width: 110px;
}

.fas {
    color: #fff;
}

.fab {
    color: #fff;
}

.menu-btn {
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 20px;
    z-index: 2;
    display: none;
}

@media(max-width:700px) {
    .menu-btn {
        display: block;
    }

    .menu-btn:hover {
        opacity: 0.5;
    }

    .right-menu {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #313131;
        width: 40%;
        opacity: 0;
        padding: 16px;
        transform: translateX(-500px);
        transition: opacity 0.5s ease-in;
    }

    .right-menu li {
        text-indent: -20px;
        padding: 16px;
        border-bottom: #949494 solid 1px;
    }

    .right-menu li:last-child {
        border-bottom: none;
    }

    .left-menu {
        display: none;
    }

    .nav-link:last-child {
        border-bottom: 0;
    }

    .right-menu.show {
        transform: translateX(20px);
        opacity: 0.9;
    }

}

.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: 400;
    padding: 10px 20px;
    background: #e9e9e9;
    color: #fff;
    font-size: 16px;
}

.brand {
    padding-top: 16px;
    padding-bottom: 16px;
}

.nav-link.button {
    margin-top: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 6px;
    background-color: hsla(0, 0%, 100, 0.2);
}

.secondary-heading {
    max-width: 450px;
    margin-top: 0px;
    margin-bottom: 15px;
    font-family: 'DM Serif Display', sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: white;
}

.paragraph {
    max-width: 450px;
    color: hsla(0, 0%, 100%, 0.6);
}

.collection-item {
    font-family: Inter, sans-serif;
    display: grid;
    margin-bottom: 30px;
    align-content: center;
    background-color: #4f7335;
    color: white;
    transition: opacity 0.5s;
    opacity: 1;
}

.collection-item:hover {
    opacity: 0.8;
}

.project-details {
    display: flex;
    padding: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.button-text {
    margin-top: auto;
}

.project-name-preview {
    font-family: 'DM Serif Display', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.project-type-preview {
    color: hsla(0, 0%, 100%, 0.63);
}

.project-paragraph {
    color: hsla(0, 0%, 100%, 0.63);
}

.field-label {
    font-size: 11px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.submit-button {
    margin-top: 15px;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    border-radius: 5px;
    background-color: #6057c3;
}

.ltgrn-paragraph {
    margin-bottom: 30px;
    font-size: 14px;
    color: #c9dec3;
}

.grid {
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.form-block {
    padding: 30px;
    background-color: #4f7335;
    color: #000;

}

.form {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.card-image {
    width: 340px;
    max-width: 100%;
    max-width: 100%;
    align-content: center;
    padding: 1rem;
    border-radius: 10%;
}

.flex {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    gap: 20px;
}

.flex-3 {
    flex-grow: 3;
}

.my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}



.block {
    display: block;
    padding: 10px;
}

.rounded-2xl {
    border-radius: 1rem;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
}

ul {
    list-style: none;
}